@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

:root {
    --background: #0B93DE;
    --border: #b7b09e;
    --primary-text-color: #636363;
    --second-text-color: #848484;
    --third-text-color: #a5aad9;
    --font: 'Raleway', sans-serif;
    --shadow: 0px 0px 36px -7px rgba(0,0,0,0.75);
    --gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(231,237,234,1) 100%);
    --bnt-color: #186DF5;
    --bnt-hover-color: #300DFA;
    --bnt-shadow: 0px 13px 33px -11px rgba(0,0,0,0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 420px;
    height: 600px;
    background: white;
    border-radius: 14px;
    box-shadow: var(--shadow);
    padding-top: 40px;
    text-align: center;
}

.card {
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.12rem;
    color: var(--primary-text-color);
}

.desc {
    font-family: var(--font);
    font-weight: 300;
    font-size: 1rem;
    color: var(--second-text-color); 
    padding: 10px  80px 30px 80px;   
}

.drop-box {
    background: var(--gradient);
    border: 2px solid var(--border);
    border-radius: 6px;
    margin-left: 40px;
    margin-right: 40px;
}

.drop-box:hover {
    border: 2px dashed var(--border);
    box-shadow: inset 0 0 10px 10px #dbdbdb;
}

.drop-logo {
    width: 100px;
    margin: 30px 0 15px 0;
}

.detail {
    font-family: var(--font);
    font-weight: bold;
    color: var(--second-text-color);
    padding-bottom: 20px;
}

.adjust-color {
    color: var(--third-text-color);
}

.btn {
    width: 30%;
    height: 30px;
    background: var(--bnt-color);
    border: none;
    border-radius: 4px;
    box-shadow: var(--bnt-shadow);
    cursor: pointer;
    margin-bottom: 20px;
    font-family: var(--font);
    font-weight: bold;
    color: white;
}

.btn:hover {
    background: var(--bnt-hover-color);
}

.strip {
    margin: 30px 40px;
    height: 60px;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 0px 21px -5px rgba(66,66,66,1);     
    display: flex;
}

.file-icon {
    width: 36px;
    margin-left: 6px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    padding-left: 20px;
}

.file-name {
    font-family: var(--font);
    font-weight: 300;
    font-size: 12px;
    margin: 10px 0 10px 0;
} 

.progress-bar {
    background: #c9c9c9;
    border-radius: 4px;
    width: 200px;
    height: 10px;
}

.progress {
    width: 80%;
    height: 10px;
    background: #5749C4;
    border-radius: 4px;
    display: flex;
}